:root {
    --white: #F1F1F1;
    --charcoal: #2E2E2E;
    --red: #ff0000;
    --black: #1F1F1F;
    --yellow: #FFD300;
    --orange: #E45400;
    --darkRed: #940000;
}
/* google fonts */
.newsreader-standard {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*end google fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: "Fugaz One", sans-serif;
}
body {
    background: var(--charcoal);
    color: var(--white);
    font-size: larger;
}
#disclaimer {
    background-color: var(--yellow);
    color: var(--charcoal);
}
#disclaimer p {
    margin-bottom: 0;
}
header {
    background-color: var(--white);
}
@media screen and (max-width: 992px) {
    #nav-row {
        flex-wrap: nowrap;
    }
}
.navbar img {
    height: 50px;
    width:  44px;
}
.navbar-nav {
    width:max-content;
}
.navbar-nav a {
    font-size: large;
    min-width: max-content;
    width: 100%;
}
#gradient {
    background: var(--charcoal);
    background: linear-gradient(0deg, var(--charcoal) 0%, var(--white) 100%);
    height: 50px;
}
#intro, #skills, #education, #projects, #resume, #contact-info {
    margin-top: 20px;
}
#intro {
    text-align: start;
    padding: 2.5%;
    padding-top: 0.5%;
}
#title {
    align-items: center;
}
@media screen and (max-width: 992px) {
    #intro {
        text-align: center;
    }
}
#about-me p:last-child {
    margin-bottom: 0;
}
.stars img {
    width: 25px;
}
.stars div {
    width: max-content;
    margin-bottom: 16px;
}
.checkbox-row:hover {

}
.btn-custom {
    font-size: larger;
    background-color: var(--yellow);
    min-width: max-content;
    width: 25%;
    margin-bottom: 1%;
}
.btn-custom:hover {
    background-color: var(--orange);
}
footer {
    margin-bottom: 50px;
}
.contact-logo {
    width: 100px;
}
/* #email-logo {
    object-fit:fill;
} */
.filter-yellow {
    filter: invert(79%) sepia(44%) saturate(1863%) hue-rotate(360deg) brightness(104%) contrast(103%);
}
.hover-orange:hover > .filter-yellow {
    filter: invert(32%) sepia(83%) saturate(2565%) hue-rotate(12deg) brightness(99%) contrast(101%);
}
.hover-orange:hover {
    filter: invert(32%) sepia(83%) saturate(2565%) hue-rotate(12deg) brightness(99%) contrast(101%);
}
.filter-orange {
    filter: invert(32%) sepia(83%) saturate(2565%) hue-rotate(12deg) brightness(99%) contrast(101%);
}
.filter-dark-red {
    filter: invert(9%) sepia(90%) saturate(5291%) hue-rotate(4deg) brightness(89%) contrast(112%);
}